.buttons-cont {
	display: inline-block; vertical-align: top;
	margin-left: 8px;
	button {
		min-width: 200px;
	}
	button.selected {
		background: lightblue;
		font-style: italic;
		&:before {
			content: ">";
		}
	}
}
.emoji {
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}
table {
	border-collapse: collapse;
	td, th {
		border: 1px solid gray;
		padding: 2px 4px;
	}
}
body {
	font-family: Trebuchet MS, sans-serif;
	line-height: 1.25;
	button {
		font-size: 24px;
		padding: 6px;
		background: white;
		border: 1px solid gray;
		border-radius: 5px;
	}
	button:hover {
		cursor: pointer;
		background: cyan !important;
	}
}
.subtext {
	font-size: 20px;
	color: black;
	opacity: 0.7;
	vertical-align: middle;
}
.hidden {
	display: none !important;
}
#card-cont {
	width: 825px; height: 1125px;
	.proof-overlay {
		.mini {display: none;}
		.poker {display: block;}
	}
	&.mini {
		width: 600px; height: 825px;
		.proof-overlay {
			.mini {display: block;}
			.poker {display: none;}
		}
	}
	overflow: hidden;
	display: flex;

	/*35px bleed, 35px cut*/
	.card-border, .view {
		width: calc(100% - 122px);
		height: calc(100% - 122px);
		margin: auto auto;
		position: relative;
	}
}
#card-cont.compress {
	width: 755px; height: 1055px;
	&.mini {
		width: 530px; height: 755px;
	}

	/*35px bleed*/
	.card-border, .view {
		width: calc(100% - 62px);
		height: calc(100% - 62px);
	}
}
#card-creator {
	display: flex;
	flex-wrap: wrap;
}
#card-creator .score,
#card-creator .score-detail,
#card-creator .score-tooltip {
	display: none;
}
#card-creator.show-score .score,
#card-creator.show-score .score-detail {
	display: block;
}
.hr {
	background: linear-gradient(90deg, transparent 0%, gold 50%, transparent 100%);
	min-height: 1px;
	width: 100%;
	min-width: 200px;
}
.Celestial .hr { background: linear-gradient(90deg, transparent, 
	gold 50%, transparent); }
.Chaos .hr { background: linear-gradient(90deg, transparent, 
	violet 50%, transparent); }
.Order .hr { background: linear-gradient(90deg, transparent, 
	cyan 50%, transparent); }
.Nature .hr { background: linear-gradient(90deg, transparent, 
	lightgreen 50%, transparent); }
.Construct .hr { background: linear-gradient(90deg, transparent, 
	chocolate 50%, transparent); }

.card-count {
	&.c1::before{content: '•';}
	&.c2::before{content: '••';}
	&.c3::before{content: '•••';}
}
.card-border {
	position: relative;
	border-radius: 18px;
	box-sizing: border-box;
	padding: 8.5px; /*Border width*/

	&.c1 {
		background: white;
	}
	&.c2 {
		background: linear-gradient(105deg, gold, lightyellow, orange, gold);
	}
	&.c3, &.c4 {
		background: linear-gradient(45deg,
			red, orange, yellow, green, cyan, blue, violet);
	}
	&.c1 { .level-star.c1 {display: block;}}
	&.c2 { .level-star.c2 {display: block;}}
	&.c3 { .level-star.c3 {display: block;}}
	&.c4 { .level-star.c4 {display: block;}}
	&.c3, &.c4 {
		.level-border-cont {
			display: none;
		}
		.card-content .combat-cont {
			/*background: rgba(0,0,0,0.8);*/
			background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.65) 130px);
		}
	}
	&.c1, &.c2 {
		.img-Img {
			margin-top: 59px;
		}
	}
	.commander-cont {
		display: none;
	}
	&.Commander {
		.card {
			overflow: visible;
			.img-Img {
				width: 112%;
				left: -6%;
				top: -4%;
			}
			.top.block, .card-content {
				display: none !important;
			}
		}
		.commander-cont {
			inset: -40px;
			display: flex;
			flex-direction: column;

			position: absolute;
			text-align: center;

			.top-cont, .deck, .discard {
				/*font-weight: bold;*/
				color: white; text-shadow: 0 0 10px cyan;
				font-size: 22px;
				margin-top: 30px;
				background: linear-gradient(to left, transparent, black, transparent);
			}
			.space {
				flex-grow: 1;
				display: flex;
				align-items: center;
				.deck, .discard {
					height: 24px;
					padding: 2px;
				}
				.deck {
					transform: rotate(270deg);
				}
				.discard {
					transform: rotate(90deg);
				}
				.deck-space {
					flex-grow: 1;
				}
			}
			.name-cont {
				background: linear-gradient(to bottom, transparent, black 120px);
				display: flex;
				flex-direction: column;
				font-size: 20px;
				padding-bottom: 60px;
				padding-top: 40px;
				position: relative;
				.text-Flavor {
					color: lightgray;
					text-shadow: 0 0 10px black;
					font-style: italic;
					font-weight: lighter;
					padding: 0 80px;
					top: -50px;
					left: 0;
				}
				.text-Name {
					position: relative;
					font-style: italic;
					font-family: Georgia, serif;
					font-weight: bold;
					padding: 4px;
					display: inline-block;
					z-index: 999;
					font-size: 35px;
				}
			}
			.icon {
				img {
					width: 60px;
				}
			}
		}
	}
}
.card {
	width: 100%;
	height: 100%;
	background: black;
	border-radius: inherit;

	position: relative;
	overflow: hidden;

	.img-Img {
		position: absolute;
		/*top: -35px;
		left: -35px;
		width: 775px;*/
		width: 100%;
		/*border-radius: 20px;*/
		/*border: 1px solid gold;*/
	}

	/*stars*/
	.level-star {display: none;}
	.card-content .combat-cont{
		padding-top: 110px;
		background: linear-gradient(to bottom, transparent, black 130px);
	}

	.card-rank {
		position: absolute;
		z-index: 9;
		top: 0px;
		left: 5px;
		text-shadow: 0 0 10px gold;

		img {
			width: 60px;
			display: none;
		}
		&.c1 .c1 {display: block;}
		&.c2 .c2 {display: block;}
		&.c3 .c3 {display: block;}
		&.c4 .c4 {display: block;}
	}
	
	.card-name {
		text-align: center;
		color: white;
		font-size: 40px;
		margin: 0;
		border:none;
		font-family: Georgia, serif;
		background: rgba(0,0,0,0.7);
		position: relative;
		overflow: hidden;
		
		.unit-name {
			position: relative;
			font-style: italic;
			font-family: Georgia, serif;
			font-weight: bold;
			padding: 4px;
			display: inline-block;
			z-index: 999;
		}
	}

	.card-faction {
		text-align: center;
		font-size: 22px;
		margin: 0;
		padding: 0 10px;
		font-family: Georgia, serif;
		padding-bottom: 20px;
	}

	.card-cost {
		top: 0px;
		right: 10px;
		z-index: 9;

		.text-Cost {
			text-shadow: 0 0 10px gold;
			text-align: center;
			font-size: 60px;
			font-weight: bold;
			color: white;
			z-index: 999;
			line-height: 1;
		}
	}

	.cbg.class-Faction {
		opacity: 0.2; width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
	}

	.overlay {
		position: absolute; left: 0; top: 0;
		height: 100%; width: 100%;
	}


		.side-cont {
			width: 100%;
			color: white;
			min-height: 250px;
			display: flex;
			align-items: start;

			background:
			/*Right wins*/
				linear-gradient(245deg, rgba(0,0,0,0.6), transparent 15%),
			/*Top down gradient*/
				linear-gradient(180deg, rgba(0,0,0,0.6), transparent 50px)			;

			.win-rewards {
				text-align: right;
				margin: 0;
				padding: 10px;
				border-radius: 0;
				border-right: none;
				padding-right: 0px;
				.content {
					min-width: none;
				}
				.sp{
					display: block;
				}
			}
		}

	.bottom.block.card-content {
		width: 100%;
		/*min-height: 340px;*/
		color: white;
		text-align: center;

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;

		.text-Flavor {
			font-family: Georgia, serif;
			font-size: 20px;
			font-style: italic;
			text-shadow: 0 0 10px black;
			margin-bottom: -80px;
			z-index: 9;
			color: white;
			padding: 20px;
		}

		.combat-cont {
			flex-grow: 1;
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
	        width: 100%;

			.line {
				overflow: hidden;
				margin: 4px;
				padding: 4px;
				position: relative;
				z-index: 9;
				background: rgba(45,45,45,0.6);
				display: flex;
				flex-direction: column;
				.overlay {display: none;}
				&.c3, &.c4 {
					.overlay {display: block;}
				}
				&.if-Act {
					flex-grow: 1;
					min-width: 100px;
					/*border: 1px solid darkgreen;*/
					/*background: rgba(30,60,30,0.6);*/
				}
				&.if-HP {
					/*background: rgba(30,40,70,0.6);*/
					/*border: 1px solid blue;*/
					.line-type {
						text-align: right;
					}
				}
				&.if-Defeat {
					/*background: rgba(60,30,30,0.6);*/
					/*border: 1px solid red;*/
				}

				.stat-value {
					font-size: 40px;
					vertical-align: middle;
				}
				.stat-icon {
					vertical-align: middle;
				}
			}
			.line-type {
				line-height: 1;
				margin: 4px;
				border-radius: 4px;
				display: inline-block;
				flex-shrink: 1;
				z-index: 9;

				.stat {
					display: inline-block;
					font-weight: bold;
					.stat-value {
						font-size: 40px;
						vertical-align: middle;
					}
					i {
						font-size: 36px;
						vertical-align: middle;
					}
				}
			}
			.line-content {
				padding: 4px;
				vertical-align: middle;
				background: rgba(0,0,0,0.6);
				border-radius: 4px;
				flex-grow: 1;
				border: 1px solid black;
				text-align: left;
			}
			.c3 .line-content, .c4 .line-content {
				background: linear-gradient(to right, black, rgba(0,0,0,0.6) 30%);
			}
			.line .type {
				margin-top: 6px;
				margin-left: 4px;
			}
			.line.if-Defeat {
				display: flex;
				justify-content: center;
				.type {
					margin-top: -10px;
				}
			}
			.line.if-Defeat .line-content {
				margin-left: 50px;
				padding: 5px;
			}
			
		}
		.tactic-cont {
			position: relative;
			overflow: hidden;
			margin: 0px 10px;
			padding: 0px 10px 10px 10px;
			box-sizing: border-box;
			width: 100%;
			/*background: linear-gradient(0deg, rgba(0,0,0,1), transparent 50%);*/
			/*background: linear-gradient(180deg, gold, transparent 50%),
				linear-gradient(90deg, transparent, purple 50%, transparent);*/
			.if-Tactic {
				z-index: 999;
				text-shadow: 0 0 5px black;
			}
			background: black;
		}

		.actions-cont {
			flex-grow: 1;
			margin: 10px;

		}
		.lines {
			justify-content: end;
			text-align: left;
			display: flex;
		}
	}
}
.score,
.score-tooltip {
	box-shadow: 0 0 15px black;
	border: 1px solid lightgray;
	position: absolute;
	top: 0;
	left: -10px;
	background: black;
	opacity: 0.9;
	padding: 0 5px;
	border-radius: 5px;
	color: white;
	.score-item {
		border-radius: 6px;
		padding: 0 6px;
	}
	.score-text {
		display: inline-block;
		min-width: 150px;
		font-size: 22px;
        vertical-align: middle;
	}
	.score-value {
		text-align: right;
		min-width: 50px;
	}
	.total_, .x_ {
		margin: 6px 0px;
		border-radius: 0;
		border-top: 1px solid white;
	}
}
.score-tooltip {
	min-width: 300px;
}
#card-creator.show-score .line:hover .score-tooltip {
	left: 0;
	position: absolute;
	display: inline-block;
	top: auto;
	bottom: 100%;
	z-index: 9;
}
#a4 {
	width: 2268px;
	height: 3167px;
	border: 1px solid black;
	position: absolute;
	left: -5000px;
	top: -5000px;

	canvas {
		margin: -3px 1px 0 0;
	}
}
.block {
	position: absolute;
}
.block.top {
	top: 0;	
}
.block.bottom {
	bottom: 0;
}
.block.left {
	left: 0;	
}
.block.right {
	right: 0;
}
.item {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0px 15px;
}
.unit-class {
	font-style: italic;
	font-weight: bold;
}
.ctext {
	&.Celestial, &.celestial {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px #FC0;
		font-family: Georgia, serif;
	}
	&.Chaos, &.chaos {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px violet;
		font-family: Georgia, serif;
	}
	&.Order, &.order {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px cyan;
		font-family: Georgia, serif;
	}
	&.Construct, &.construct {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px chocolate;
		font-family: Georgia, serif;
	}
	&.Nature, &.nature {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px lightgreen;
		font-family: Georgia, serif;
	}
}
.cbg {
	&.Celestial, &.celestial {
		background-color: gold;
	}
	&.Chaos, &.chaos {
		background-color: purple;
	}
	&.Order, &.order {
		background-color: blue;
	}
	&.Construct, &.construct {
		background-color: brown;
	}
	&.Nature, &.nature {
		background-color: green;
	}
}
.cshine {
	opacity: 0.5;
	&.Celestial, &.celestial {
		background:
		linear-gradient(110deg, transparent 30%, gold 50%, transparent 70%);
	}
	&.Chaos, &.chaos {
		background:
		linear-gradient(110deg, transparent 30%, violet 50%, transparent 70%);
	}
	&.Order, &.order {
		background:
		linear-gradient(110deg, transparent 30%, lightblue 50%, transparent 70%);
	}
	&.Construct, &.construct {
		background:
		linear-gradient(110deg, transparent 30%, orange 50%, transparent 70%);
	}
	&.Nature, &.nature {
		background:
		linear-gradient(110deg, transparent 30%, cyan 50%, transparent 70%);
	}
}
.clogo {
	opacity: 0.1;
	background-repeat: no-repeat;
	background-position-x: right;
	height: 100px !important;
	top: 0; bottom: 0; margin: auto;
	background-size: contain;
	&.Celestial, &.celestial {
		background-image: url('../assets/icons/celestial.png');
	}
	&.Chaos, &.chaos {
		background-image: url('../assets/icons/chaos.png');
	}
	&.Order, &.order {
		background-image: url('../assets/icons/order.png');
		opacity: 0.15;
	}
	&.Construct, &.construct {
		background-image: url('../assets/icons/construct.png');
	}
	&.Nature, &.nature {
		background-image: url('../assets/icons/nature.png');
	}
}
.lbg {
	display: none;
	&.c1.lbg-c1 {display: block;}
	&.c2.lbg-c2 {display: block;}
	&.c3.lbg-c3 {display: block;}
	&.c4.lbg-c4 {display: block;}
}
.unit-scores {
	font-size: 20px;
	color: black;
	padding-left: 4px;

	.score-total {
		font-size: 26px;
		font-weight: bold;
		background: black;
		color: white;
		padding: 2px 6px;
		border-radius: 6px;
	}
	.score-category {
		background: lightgray;
		border-radius: 6px;
		padding: 4px 6px;
		margin: 1px;
		margin-left: 10px;

		.score-type {
			font-size: 20px;
			font-weight: bold;
		}
		.score-detail {
			padding-left: 12px;
			opacity: 0.6;
		}
	}
	.score-category.defense {background: lightblue;}
	.score-category.offense {background: pink;}
	.score-category.resource {background: gold;}
	.score-category.support {background: lightgreen;}
}
.line {
	/*font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;*/
	line-height: 1.6;
	padding: 2px 8px;
	border-radius: 5px;
	font-size: 28px;
	margin: 10px 4px;
	position: relative;
	.content.text-Act {
		/*background: linear-gradient(90deg, rgba(0,255,255,0.2), transparent 100px);
	    border-radius: 20px;
	    padding-left: 2px;*/
	}
	.content.text-Tactic {
		text-align: center;
		margin-left: 0;
	}
	.type {
		position: absolute;
		left: 7px;
		i {
			font-size: 32px;
			vertical-align: middle;
		}

		&.Act {
			text-shadow: 0 0 10px orange;
		}
		&.Defend {
			text-shadow: 0 0 10px aqua;
		}
		&.Defeat {
			text-shadow: 0 0 10px red;
		}
		&.Win{
			text-shadow: 0 0 10px green;
		}
	}
	.content {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		color: gainsboro;
		margin-left: 60px;
		min-width: 100px;
	}
	.sp {
		margin: 0 4px;
		border-radius: 6px;
		text-transform: capitalize;
		color:white;
		position: relative;
		display: inline-block;
	}
	.icon {
		display: inline-block;
		width: 40px; height: 40px;
		vertical-align: top;
		margin-right: 1px;
	}
	.action {
		text-decoration: underline;
		padding: 0;
	}
	.stealth {
		color: gray;
		font-weight: bold;
		border: 1px solid violet;
	    padding: 0 4px;
	    border-radius: 4px;
	}
	.fog-of-war::before {
		content: '\1F32B ';
	}
	.reveal {
		color: white;
		text-shadow: 0 0 5px gold;
	}
	.killing-blow {
		color: pink;
	}
	.debuff {
		margin: 0 5px;
		padding: 0 4px;
		border-radius: 35px;
		text-shadow: 0 0 8px black;
		.value {
			padding-right: 12px;
		}
		&:before {
			font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
		}
	}
	.buff {
		font-weight: bold;
	}
	.charm {
		background: darkmagenta;
		font-weight: bold;
		&::before {
			content: '\1F493';
		}
	}
	.poison {
		background: darkgreen;
		&::before {
			content: '\1F480';
		}
	}
	.burn {
		background: darkred;
		&::before {
			content: '\1F525';
		}
	}
	.stun {
		background: dimgray;
		&::before {
			content: '\1F4AB';
		}
	}
	.chill {
		background: steelblue;
		&::before {
			content: '\2744';
		}
	}
	.shock {
		background: darkblue;
		&::before {
			content: '\26A1';
		}
	}
	.some_debuff {
		background: linear-gradient(to bottom right, darkred, darkblue);
		&::before {
			content: '❔';
		}
	}
	.true-dmg {
		text-shadow: 0 0 8px red;
	}
	.nullify {
		color: orange;
	}
	.adv {
		color: orange;
		text-shadow: 0 0 8px purple;
	}
	.atk {
		color: orange;
	}
	.def {
		color: lightblue;
	}
	.heal {
		color: lightgreen;
	}
	.revive {
		color: white;
		text-shadow: 0 0 8px gold;
	}
	.cleanse {
		color: lightgreen;
		text-shadow: 0 0 8px teal;
	}
	.hp {
		color: pink;
	}
	.fortify{
		border: 1px solid cyan;
	    padding: 0 4px;
	    border-radius: 4px;
	}
	.empower {
		border: 1px solid orangered;
	    padding: 0 4px;
	    border-radius: 4px;
	}
	.melee {
		color: white;
        margin-right: -16px;
		&::before {
			/*content: '\1F5E1';*/
		}
	}
	.vp {
		text-shadow: 0 0 8px blue;
		font-weight: bold;
		.value::after {
			content: '\1F48E';
		}
	}
	.rp {
		text-shadow: 0 0 8px purple;
		font-weight: bold;
		margin: 0 8px;
	}
	.unit-rank {
		font-weight: bold;
		text-shadow: 0 0 8px purple;
		.icon {
			height: 40px; width: 40px;
			vertical-align: middle;
		}
	}
	.g {
		text-shadow: 0 0 8px gold;
		font-weight: bold;
		.value::after {
			content: '\1FA99';
		}
	}
	.no-g {
		text-shadow: 0 0 8px red;
		font-weight: bold;
		.g {
			text-shadow: 0 0 8px red;
		}
	}
	.phase {
		font-weight: bold;
		background: gray;
		padding-left: 4px; padding-right: 4px;
		font-size: smaller;
	}
	.immunity, .resist {
		border: 1px solid gray;
	    padding: 0;
		border-radius: 0px;
	    display: inline-block;
	    line-height: 1.1;
	    .value {
	    	display: flex;
	    	flex-wrap: wrap;
	    	&:before {
				content: 'IMM';
				color: gray;
				font-size: smaller;
				padding-right: 6px;
	    		padding-left: 4px;
			}
	    }
		.sp {
			display: inline-block;
		}
		.sp.debuff {
			border-radius: 0;
			margin: 0;
		}
	}
	.resist .value:before {
		content: 'RES';
	}
	.persistent, .once {
		text-transform: uppercase;
		font-size: smaller;
		text-shadow: none;
		padding-left: 4px; padding-right: 4px;
	}
	.persistent {
		background: lightblue;
		color: darkblue;
		.icon {
			vertical-align: bottom;
		}
	}
	.once {
		background: darkorange;
		color: darkred;
	}
	.draw-card,
	.discard-card {
		.icon {width: 50px; height: 50px;}
	}
	.rng {
		&.sp {padding: 0;}
		/*&::before {
			content: '\1F3F9 ';
		}*/
		&::after {
			content: ' \27A0';
			opacity: 0.5;
		}
	}
	.aoe {
		&.sp {padding: 0;}
		/*.icon {width:50px; height:50px;}*/
		&::after {
			content: ' \27A0';
			opacity: 0.5;
		}
	}
	.target {
		/*font-style: italic;*/
		/*&::before {
			content: '\1F3AF';
		}*/
	}
	.reflect::after {
		content: ' \27A0';
		opacity: 0.5;
	}
	.trigger {
		font-size: smaller;
	}
	.round-down .icon {
		height: 40px; width: 40px;
		/*vertical-align: middle;*/
	}
	.skill {
		padding: 0 6px;
		text-shadow: 0 0 5px black;
		font-family: Georgia, serif;
		font-style: italic;
		color: cyan;
		&::after {
			content: ':';
		}
	}
	.unit-name {
		padding-right: 6px;
		font-style: italic;
		font-family: Georgia, serif;
	}
}
.level-star {
	font-size: 90px;
	color: white;
	/*text-shadow: 0 0 20px black;*/
	margin-top: 0px;
	display: none;
	position: relative;
	line-height: 0.9;
	font-style: normal;
	i {
		font-size: 90px;
	}
}
.class-rank .level-border,
.class-rank .level-border-cont {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	box-sizing: border-box;
}
.faction-bg {
	width: 100%;
	height: 100%;
	div {
		width: 100%;
		height: 100%;
	}
	.img {
		width: auto;
		background-repeat: no-repeat;
		background-position-x: center;
		background-size: contain;
		opacity: 0.08;
		display: none;
	}
	.class-Faction.Chaos .chaos {display:block;}
	.class-Faction.Celestial .celestial {display:block;}
	.class-Faction.Order .order {display:block;}
	.class-Faction.Nature .nature {display:block;}
	.class-Faction.Construct .construct {display:block;}
}

#card-list {
	display: inline-block;
	max-height: 1100px;
	padding-right: 10px;
	overflow: scroll;
	button {
		width: 300px;
		display: block;
		border-left: 10px solid gray;
	}
	.c1 {background: lightgreen;}
	.c2 {background: lightblue;}
	.c3 {background: pink;}
	.cOrder {border-left-color: blue;}
	.cCelestial {border-left-color: goldenrod;}
	.cChaos {border-left-color: purple;}
	.cConstruct {border-left-color: gray;}
	.cNature {border-left-color: green;}
}

/*Instructions*/
#instructions, #instructions2 {
	color: white;
	h1 {font-size: 40px; text-shadow: 0 0 10px gold;}
	h2 {font-size: 26px; }
	p {
		font-size: 26px; padding-left: 20px;
	}
	.material-icons, i {
		font-size: 26px;
		vertical-align: middle;
	}
}
#instructions2 {
	.line {
		/*margin: 4px 2px;*/
		padding: 6px 4px;
		margin-left: -8px;
		margin-top: -4px;
		display: inline-block;
		max-width: none;
		/*border: 1px solid gray;*/
		font-size: 24px;
		font-style: italic;
		.sp {
			font-style: normal;
		}

		.sp:not(.debuff) {
			/*background: linear-gradient(90deg, rgb(62, 53, 60) 0%, rgba(0,0,0,0) 150px);*/
			border-radius: 4px;
		}
		.sp.buff {
			margin-bottom: 4px;
		}
		.hr {
			margin: 6px 0;
		}
		.section {
			display: flex;
			justify-content: space-between;
		}
	}
}

/*Commander*/
#comm-skill {
	.img-Img {
		opacity: 0.2;
		width: 110%;
		margin-left: -5%;
		margin-top: -5%;
	}
	.skill-name {
		z-index: 999;
	}
	&.card-border {
		padding: 3px;
		background: linear-gradient(to bottom, orange, blue);
	}
	.card {
		display: flex;
		flex-direction: column;
		color: white;
		justify-content: space-between;
	}
	.skill-description {
		padding: 20px;
		text-align: center;
		font-size: 30px;
		text-shadow: 0 0 10px black;
	}
	.op {
		/*rotate: 180deg;*/
		transform: rotate(180deg);
	}
	.hr {
		text-align: center; color: black;
		font-style: italic;
	}
}


#card-stats {
	font-size: 20px;
}

