.emoji {
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}
table {
	border-collapse: collapse;
	td, th {
		border: 1px solid gray;
		padding: 2px 4px;
	}
}
body {
	font-family: Trebuchet MS, sans-serif;
	line-height: 1.25;
	button {
		font-size: 24px;
		padding: 6px;
		background: white;
		border: 1px solid gray;
		border-radius: 5px;
	}
	button:hover {
		cursor: pointer;
		background: cyan !important;
	}
}
button.selected {
	background: lightblue;
	font-style: italic;
	&:before {
		content: ">";
	}
}

.subtext {
	font-size: 20px;
	color: black;
	opacity: 0.7;
	vertical-align: middle;
}
.hidden {
	display: none !important;
}
.ui-section {
	margin: 8px;
	padding: 8px;
	background: lavender;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}
#card-cont {
	.proof-overlay {
		.poker {display: none;}
		.mini {display: none;}
		.mini-h {display: none;}
		.chit {display: none;}
		.custom {display: none;}
	}
	&.poker {
		width: 825px; height: 1125px;
		.proof-overlay .poker{display: block;}
	}
	&.mini {
		width: 600px; height: 825px;
		.proof-overlay .mini{display: block;}
	}
	&.mini-h {
		width: 825px; height: 600px;
		/* .proof-overlay .mini{display: block;} */
	}
	&.chit {
		width: 300px; height: 300px;
		.proof-overlay .chit{display: block;}
	}

	&.custom {
		&:has(.jennifer.cA) {width: 1060px; height: 1060px;}
		&:has(.jennifer.cB) {width: 1060px; height: 560px;}
		&:has(.jennifer.cC) {width: 560px; height: 560px;}
	}

	overflow: hidden;
	display: flex;

	/*31px bleed, 30px cut*/
	.card-border, .view {
		width: calc(100% - 122px);
		height: calc(100% - 122px);
		margin: auto auto;
		position: relative;
	}
}
#card-cont.compress {
	&.poker {
		width: 755px; height: 1055px;
	}
	&.mini {
		width: 530px; height: 755px;
	}
	&.mini-h {
		width: 755px; height: 530px;
	}
	&.chit {
		width: 240px; height: 240px;
	}
	&.custom {
		&:has(.jennifer.cA) {width: 1000px; height: 1000px;}
		&:has(.jennifer.cB) {width: 1000px; height: 500px;}
		&:has(.jennifer.cC) {width: 500px; height: 500px;}
	}

	/*31px bleed*/
	.card-border, .view {
		width: calc(100% - 62px);
		height: calc(100% - 62px);
	}
}
#card-creator {
	display: flex;
	flex-wrap: wrap;
}
#card-creator .score,
#card-creator .score-detail,
#card-creator .score-tooltip {
	display: none;
}
#card-creator.show-score .score,
#card-creator.show-score .score-detail {
	display: block;
}
.hr {
	background: linear-gradient(90deg, transparent 0%, gold 50%, transparent 100%);
	min-height: 1px;
	width: 100%;
	min-width: 200px;
}
.Celestial .hr { background: linear-gradient(90deg, transparent, 
	gold 50%, transparent); }
.Chaos .hr { background: linear-gradient(90deg, transparent, 
	violet 50%, transparent); }
.Order .hr { background: linear-gradient(90deg, transparent, 
	cyan 50%, transparent); }
.Nature .hr { background: linear-gradient(90deg, transparent, 
	lightgreen 50%, transparent); }
.Construct .hr { background: linear-gradient(90deg, transparent, 
	chocolate 50%, transparent); }

.card-count {
	&.c1::before{content: '•';}
	&.c2::before{content: '••';}
	&.c3::before{content: '•••';}
}
.card-border {
	position: relative;
	border-radius: 18px;
	box-sizing: border-box;
	padding: 8.5px; /*Border width*/

	&.c1 {
		background: white;
	}
	&.c2 {
		background: linear-gradient(105deg, gold, lightyellow, orange, gold);
	}
	&.c3, &.c4 {
		background: linear-gradient(45deg,
			red, orange, yellow, green, cyan, blue, violet);
	}
	&.c1 { .level-star.c1 {display: block;}}
	&.c2 { .level-star.c2 {display: block;}}
	&.c3 { .level-star.c3 {display: block;}}
	&.c4 { .level-star.c4 {display: block;}}
	&.c3, &.c4 {
		.level-border-cont {
			display: none;
		}
		.card-content .combat-cont {
			/*background: rgba(0,0,0,0.8);*/
			background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.65) 130px);
		}
	}
	&.c1, &.c2 {
		.img-Img {
			margin-top: 59px;
		}
	}
	.commander-cont {
		display: none;
	}
	&.Commander {
		.card {
			overflow: visible;
			.img-Img {
				width: 112%;
				left: -6%;
				top: -4%;
			}
			.top.block, .card-content {
				display: none !important;
			}
		}
		.commander-cont {
			inset: -40px;
			display: flex;
			flex-direction: column;

			position: absolute;
			text-align: center;

			.top-cont, .deck, .discard {
				/*font-weight: bold;*/
				color: white; text-shadow: 0 0 10px cyan;
				font-size: 26px;
				margin-top: 30px;
				background: linear-gradient(to left, transparent, black, transparent);
			}
			.space {
				flex-grow: 1;
				display: flex;
				align-items: center;
				.deck, .discard {
					height: 24px;
					padding: 2px;
				}
				.deck {
					transform: rotate(270deg);
				}
				.discard {
					transform: rotate(90deg);
				}
				.deck-space {
					flex-grow: 1;
				}
			}
			.name-cont {
				background: linear-gradient(to bottom, transparent, black 120px);
				display: flex;
				flex-direction: column;
				padding-bottom: 60px;
				padding-top: 40px;
				position: relative;
				font-size: 24px;

				.text-Flavor {
					font-size: 20px;
					color: lightgray;
					text-shadow: 0 0 10px black;
					font-style: italic;
					font-weight: lighter;
					padding: 0 80px;
					top: -50px;
					left: 0;
				}
				.text-Name {
					position: relative;
					font-style: italic;
					font-family: Georgia, serif;
					font-weight: bold;
					padding: 4px;
					display: inline-block;
					z-index: 999;
					font-size: 40px;
				}
			}
			.icon {
				img {
					width: 60px;
				}
			}
		}
	}
}
.card {
	width: 100%;
	height: 100%;
	background: black;
	border-radius: inherit;

	position: relative;
	overflow: hidden;

	.img-Img {
		position: absolute;
		/*top: -35px;
		left: -35px;
		width: 775px;*/
		width: 100%;
		/*border-radius: 20px;*/
		/*border: 1px solid gold;*/
	}

	/*stars*/
	.level-star {display: none;}
	.card-content .combat-cont{
		padding-top: 110px;
		background: linear-gradient(to bottom, transparent, black 130px);
	}

	.card-rank {
		position: absolute;
		z-index: 9;
		top: 0px;
		left: 5px;
		text-shadow: 0 0 10px gold;

		img {
			width: 60px;
			display: none;
		}
		&.c1 .c1 {display: block;}
		&.c2 .c2 {display: block;}
		&.c3 .c3 {display: block;}
		&.c4 .c4 {display: block;}
	}
	
	.card-name {
		text-align: center;
		color: white;
		font-size: 40px;
		margin: 0;
		border:none;
		font-family: Georgia, serif;
		background: rgba(0,0,0,0.7);
		position: relative;
		overflow: hidden;
		
		.unit-name {
			position: relative;
			font-style: italic;
			font-family: Georgia, serif;
			font-weight: bold;
			padding: 4px;
			display: inline-block;
			z-index: 999;
		}
	}

	.card-faction {
		text-align: center;
		font-size: 22px;
		margin: 0;
		padding: 0 10px;
		font-family: Georgia, serif;
		padding-bottom: 20px;
	}

	.card-cost {
		top: 0px;
		right: 10px;
		z-index: 9;

		.text-Cost {
			text-shadow: 0 0 10px gold;
			text-align: center;
			font-size: 60px;
			font-weight: bold;
			color: white;
			z-index: 999;
			line-height: 1;
		}
	}

	.cbg.class-Faction {
		opacity: 0.2; width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
	}

	.overlay {
		position: absolute; left: 0; top: 0;
		height: 100%; width: 100%;
	}


		.side-cont {
			width: 100%;
			color: white;
			min-height: 250px;
			display: flex;
			align-items: start;

			background:
			/*Right wins*/
				linear-gradient(245deg, rgba(0,0,0,0.6), transparent 15%),
			/*Top down gradient*/
				linear-gradient(180deg, rgba(0,0,0,0.6), transparent 50px)			;

			.win-rewards {
				text-align: right;
				margin: 0;
				padding: 10px;
				border-radius: 0;
				border-right: none;
				padding-right: 0px;
				.content {
					min-width: none;
				}
				.sp{
					display: block;
				}
			}
		}

	.bottom.block.card-content {
		width: 100%;
		/*min-height: 340px;*/
		color: white;
		text-align: center;

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;

		.text-Flavor {
			font-family: Georgia, serif;
			font-size: 20px;
			font-style: italic;
			text-shadow: 0 0 10px black;
			margin-bottom: -80px;
			z-index: 9;
			color: white;
			padding: 20px;
		}

		.combat-cont {
			flex-grow: 1;
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
	        width: 100%;

			.line {
				overflow: hidden;
				margin: 4px;
				padding: 4px;
				position: relative;
				z-index: 9;
				background: rgba(45,45,45,0.6);
				display: flex;
				flex-direction: column;
				.overlay {display: none;}
				&.c3, &.c4 {
					.overlay {display: block;}
				}
				&.if-Act {
					flex-grow: 1;
					min-width: 100px;
					/*border: 1px solid darkgreen;*/
					/*background: rgba(30,60,30,0.6);*/
				}
				&.if-HP {
					/*background: rgba(30,40,70,0.6);*/
					/*border: 1px solid blue;*/
					.line-type {
						text-align: right;
					}
				}
				&.if-Defeat {
					/*background: rgba(60,30,30,0.6);*/
					/*border: 1px solid red;*/
				}

				.stat-value {
					font-size: 40px;
					vertical-align: middle;
				}
				.stat-icon {
					vertical-align: middle;
				}
			}
			.line-type {
				line-height: 1;
				margin: 4px;
				border-radius: 4px;
				display: inline-block;
				flex-shrink: 1;
				z-index: 9;

				.stat {
					display: inline-block;
					font-weight: bold;
					.stat-value {
						font-size: 40px;
						vertical-align: middle;
					}
					i {
						font-size: 36px;
						vertical-align: middle;
					}
				}
			}
			.line-content {
				padding: 4px;
				vertical-align: middle;
				background: rgba(0,0,0,0.6);
				border-radius: 4px;
				flex-grow: 1;
				border: 1px solid black;
				text-align: left;
			}
			.c3 .line-content, .c4 .line-content {
				background: linear-gradient(to right, black, rgba(0,0,0,0.6) 30%);
			}
			.line .type {
				margin-top: 6px;
				margin-left: 4px;
			}
			.line.if-Defeat {
				display: flex;
				justify-content: center;
				.type {
					margin-top: -10px;
				}
			}
			.line.if-Defeat .line-content {
				margin-left: 50px;
				padding: 5px;
			}
			
		}
		.tactic-cont {
			position: relative;
			overflow: hidden;
			margin: 0px 10px;
			padding: 0px 10px 10px 10px;
			box-sizing: border-box;
			width: 100%;
			/*background: linear-gradient(0deg, rgba(0,0,0,1), transparent 50%);*/
			/*background: linear-gradient(180deg, gold, transparent 50%),
				linear-gradient(90deg, transparent, purple 50%, transparent);*/
			.if-Tactic {
				z-index: 999;
				text-shadow: 0 0 5px black;
			}
			background: black;
		}

		.actions-cont {
			flex-grow: 1;
			margin: 10px;

		}
		.lines {
			justify-content: end;
			text-align: left;
			display: flex;
		}
	}
}
.score,
.score-tooltip {
	box-shadow: 0 0 15px black;
	border: 1px solid lightgray;
	position: absolute;
	top: 0;
	left: -10px;
	background: black;
	opacity: 0.9;
	padding: 0 5px;
	border-radius: 5px;
	color: white;
	.score-item {
		border-radius: 6px;
		padding: 0 6px;
	}
	.score-text {
		display: inline-block;
		min-width: 150px;
		font-size: 22px;
        vertical-align: middle;
	}
	.score-value {
		text-align: right;
		min-width: 50px;
	}
	.total_, .x_ {
		margin: 6px 0px;
		border-radius: 0;
		border-top: 1px solid white;
	}
}
.score-tooltip {
	min-width: 300px;
}
#card-creator.show-score .line:hover .score-tooltip {
	left: 0;
	position: absolute;
	display: inline-block;
	top: auto;
	bottom: 100%;
	z-index: 9;
}
#a4 {
	width: calc(2265px);
	height: calc(3165px);
	/*Bleed: 20px: 20/2265 = 0.88% */
	/*In inches: 0.88%*7.5in = 0.066in */
	/*padding: 20px; */
	background: black;

	position: absolute;
	left: -5000px;
	top: -5000px;
	line-height: 0;

	.container {
		display: inline-block;
		position: relative;
		.corner {
			position: absolute;
			width: 10px; height: 10px;
		}
		.top {top: 0; border-top: 1px solid white;}
		.left {left: 0; border-left: 1px solid white;}
		.bottom {bottom: 0; border-bottom: 1px solid white;}
		.right {right: 0; border-right: 1px solid white;}
	}
	canvas {
		margin: 0px;
		background: gray;
		&:before {
			content: 'ss';
		}
	}
}
.block {
	position: absolute;
}
.block.top {
	top: 0;	
}
.block.bottom {
	bottom: 0;
}
.block.left {
	left: 0;	
}
.block.right {
	right: 0;
}
.item {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0px 15px;
}
.unit-class {
	font-style: italic;
	font-weight: bold;
}
.ctext {
	&.Celestial, &.celestial {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px #FC0;
		font-family: Georgia, serif;
	}
	&.Chaos, &.chaos {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px violet;
		font-family: Georgia, serif;
	}
	&.Order, &.order {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px cyan;
		font-family: Georgia, serif;
	}
	&.Construct, &.construct {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px chocolate;
		font-family: Georgia, serif;
	}
	&.Nature, &.nature {
		color: white;
		font-style: italic;
		text-shadow: 0 0 10px lightgreen;
		font-family: Georgia, serif;
	}
}
.cbg {
	&.Celestial, &.celestial {
		background-color: gold;
	}
	&.Chaos, &.chaos {
		background-color: purple;
	}
	&.Order, &.order {
		background-color: blue;
	}
	&.Construct, &.construct {
		background-color: brown;
	}
	&.Nature, &.nature {
		background-color: green;
	}
}
.cshine {
	opacity: 0.5;
	&.Celestial, &.celestial {
		background:
		linear-gradient(110deg, transparent 30%, gold 50%, transparent 70%);
	}
	&.Chaos, &.chaos {
		background:
		linear-gradient(110deg, transparent 30%, violet 50%, transparent 70%);
	}
	&.Order, &.order {
		background:
		linear-gradient(110deg, transparent 30%, lightblue 50%, transparent 70%);
	}
	&.Construct, &.construct {
		background:
		linear-gradient(110deg, transparent 30%, orange 50%, transparent 70%);
	}
	&.Nature, &.nature {
		background:
		linear-gradient(110deg, transparent 30%, cyan 50%, transparent 70%);
	}
}
.clogo {
	opacity: 0.1;
	background-repeat: no-repeat;
	background-position-x: right;
	height: 100px !important;
	top: 0; bottom: 0; margin: auto;
	background-size: contain;
	&.Celestial, &.celestial {
		background-image: url('../assets/icons/celestial.png');
	}
	&.Chaos, &.chaos {
		background-image: url('../assets/icons/chaos.png');
	}
	&.Order, &.order {
		background-image: url('../assets/icons/order.png');
		opacity: 0.15;
	}
	&.Construct, &.construct {
		background-image: url('../assets/icons/construct.png');
	}
	&.Nature, &.nature {
		background-image: url('../assets/icons/nature.png');
	}
}
.lbg {
	display: none;
	&.c1.lbg-c1 {display: block;}
	&.c2.lbg-c2 {display: block;}
	&.c3.lbg-c3 {display: block;}
	&.c4.lbg-c4 {display: block;}
}
.unit-scores {
	font-size: 20px;
	color: black;
	padding-left: 4px;

	.score-total {
		font-size: 26px;
		font-weight: bold;
		background: black;
		color: white;
		padding: 2px 6px;
		border-radius: 6px;
	}
	.score-category {
		background: lightgray;
		border-radius: 6px;
		padding: 4px 6px;
		margin: 1px;
		margin-left: 10px;

		.score-type {
			font-size: 20px;
			font-weight: bold;
		}
		.score-detail {
			padding-left: 12px;
			opacity: 0.6;
		}
	}
	.score-category.defense {background: lightblue;}
	.score-category.offense {background: pink;}
	.score-category.resource {background: gold;}
	.score-category.support {background: lightgreen;}
}
.line {
	/*font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;*/
	line-height: 1.6;
	padding: 2px 8px;
	border-radius: 5px;
	font-size: 30px;
	margin: 10px 4px;
	position: relative;
	.content.text-Act {
		/*background: linear-gradient(90deg, rgba(0,255,255,0.2), transparent 100px);
	    border-radius: 20px;
	    padding-left: 2px;*/
	}
	.content.text-Tactic {
		text-align: center;
		margin-left: 0;
	}
	.type {
		position: absolute;
		left: 7px;
		i {
			font-size: 32px;
			vertical-align: middle;
		}

		&.Act {
			text-shadow: 0 0 10px orange;
		}
		&.Defend {
			text-shadow: 0 0 10px aqua;
		}
		&.Defeat {
			text-shadow: 0 0 10px red;
		}
		&.Win{
			text-shadow: 0 0 10px green;
		}
	}
	.content {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		color: gainsboro;
		margin-left: 60px;
		min-width: 100px;
	}
	.sp {
		margin: 0 4px;
		border-radius: 6px;
		text-transform: capitalize;
		color:white;
		position: relative;
		display: inline-block;
	}
	.icon {
		display: inline-block;
		width: 40px; height: 40px;
		vertical-align: top;
		margin-right: 1px;
	}
	.action {
		text-decoration: underline;
		padding: 0;
	}
	.stealth {
		color: gray;
		font-weight: bold;
		border: 1px solid violet;
	    padding: 0 4px;
	    border-radius: 4px;
	}
	.fog-of-war::before {
		content: '\1F32B ';
	}
	.reveal {
		color: white;
		text-shadow: 0 0 5px gold;
	}
	.killing-blow {
		color: pink;
	}
	.debuff {
		margin: 0 5px;
		padding: 0 4px;
		border-radius: 35px;
		text-shadow: 0 0 5px black;
		.value {
			padding-right: 12px;
		}
		&:before {
			font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
		}
	}
	.buff {
		font-weight: bold;
	}
	.charm {
		background: darkmagenta;
		font-weight: bold;
		&::before {
			content: '\1F493';
		}
	}
	.poison {
		/*background: darkgreen;*/
		background: purple;
		&::before {
			/*content: '\1F480';*/
			content: '\1FAE7';
		}
	}
	.burn {
		background: darkred;
		&::before {
			content: '\1F525';
		}
	}
	.stun {
		background: dimgray;
		&::before {
			content: '\1F4AB';
		}
	}
	.chill {
		background: steelblue;
		&::before {
			content: '\2744';
		}
	}
	.shock {
		background: darkblue;
		&::before {
			content: '\26A1';
		}
	}
	.some_debuff {
		background: linear-gradient(to bottom right, darkred, darkblue);
		&::before {
			content: '❔';
		}
	}
	.true-dmg {
		text-shadow: 0 0 8px red;
	}
	.nullify {
		color: orange;
	}
	.adv {
		color: orange;
		text-shadow: 0 0 8px purple;
	}
	.atk {
		color: orange;
	}
	.def {
		color: lightblue;
	}
	.heal {
		color: lightgreen;
	}
	.revive {
		color: white;
		text-shadow: 0 0 8px gold;
	}
	.cleanse {
		color: lightgreen;
		text-shadow: 0 0 8px teal;
	}
	.hp {
		color: pink;
		&:after {
			content: '\2764';
		}
	}
	.fortify{
		border: 1px solid cyan;
	    padding: 0 4px;
	    border-radius: 4px;
	}
	.empower {
		border: 1px solid orangered;
	    padding: 0 4px;
	    border-radius: 4px;
	}
	.melee {
		color: white;
        margin-right: -16px;
		&::before {
			/*content: '\1F5E1';*/
		}
	}
	.vp {
		text-shadow: 0 0 8px blue;
		font-weight: bold;
		.value::after {
			content: '\1F48E';
		}
	}
	.rp {
		text-shadow: 0 0 8px purple;
		font-weight: bold;
		margin: 0 8px;
	}
	.unit-rank {
		font-weight: bold;
		text-shadow: 0 0 8px purple;
		.icon {
			height: 40px; width: 40px;
			vertical-align: middle;
		}
	}
	.g {
		text-shadow: 0 0 8px gold;
		font-weight: bold;
		.value::after {
			content: '\1FA99';
		}
	}
	.no-g {
		text-shadow: 0 0 8px red;
		font-weight: bold;
		.g {
			text-shadow: 0 0 8px red;
		}
	}
	.phase {
		font-weight: bold;
		background: gray;
		padding-left: 4px; padding-right: 4px;
		font-size: smaller;
	}
	.immunity, .resist {
		border: 1px solid gray;
	    padding: 0;
		border-radius: 0px;
	    display: inline-block;
	    line-height: 1.1;
	    .value {
	    	display: flex;
	    	flex-wrap: wrap;
	    	&:before {
				content: 'IMM';
				min-width: 48px;
				flex-grow: 1;
				text-align: center;
				color: gray;
				font-size: smaller;
			}
	    }
		.sp {
			display: inline-block;
		}
		.sp.debuff {
			border-radius: 0;
			padding: 0;
			margin: 0;
			flex-grow: 1;
			text-align: center;
			/*&:after {
				color: white;
				content: '\2573';
				position: absolute;
		        left: 3px;
		        font-weight: bold;
		        font-size: larger;
		        top: -6px;
		        text-shadow: 0 0 5px black;
			}*/
		}
	}
	.resist .value:before {
		content: 'RES';
	}
	.persistent, .once {
		text-transform: uppercase;
		font-size: smaller;
		text-shadow: none;
		padding-left: 4px; padding-right: 4px;
	}
	.persistent {
		background: lightblue;
		color: darkblue;
		.icon {
			vertical-align: bottom;
		}
	}
	.once {
		background: darkorange;
		color: darkred;
	}
	.draw-card,
	.discard-card {
		.icon {width: 50px; height: 50px;}
	}
	.rng {
		&.sp {padding: 0;}
		/*&::before {
			content: '\1F3F9 ';
		}*/
		&::after {
			content: ' \27A0';
			opacity: 0.5;
		}
	}
	.aoe {
		&.sp {padding: 0;}
		/*.icon {width:50px; height:50px;}*/
		&::after {
			content: ' \27A0';
			opacity: 0.5;
		}
	}
	.target {
		/*font-style: italic;*/
		/*&::before {
			content: '\1F3AF';
		}*/
	}
	.reflect::after {
		content: ' \27A0';
		opacity: 0.5;
	}
	.trigger {
		font-size: smaller;
	}
	.round-down .icon {
		height: 40px; width: 40px;
		/*vertical-align: middle;*/
	}
	.skill {
		padding: 0 6px;
		text-shadow: 0 0 5px black;
		font-family: Georgia, serif;
		font-style: italic;
		color: cyan;
		&::after {
			content: ':';
		}
	}
	.unit-name {
		padding-right: 6px;
		font-style: italic;
		font-family: Georgia, serif;
	}
	.max-x {
		color: gray;
		font-style: italic;
		text-transform: lowercase;
	}
}
.level-star {
	font-size: 90px;
	color: white;
	/*text-shadow: 0 0 20px black;*/
	margin-top: 0px;
	display: none;
	position: relative;
	line-height: 0.9;
	font-style: normal;
	i {
		font-size: 90px;
	}
}
.class-rank .level-border,
.class-rank .level-border-cont {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	box-sizing: border-box;
}
.faction-bg {
	width: 100%;
	height: 100%;
	div {
		width: 100%;
		height: 100%;
	}
	.img {
		width: auto;
		background-repeat: no-repeat;
		background-position-x: center;
		background-size: contain;
		opacity: 0.08;
		display: none;
	}
	.class-Faction.Chaos .chaos {display:block;}
	.class-Faction.Celestial .celestial {display:block;}
	.class-Faction.Order .order {display:block;}
	.class-Faction.Nature .nature {display:block;}
	.class-Faction.Construct .construct {display:block;}
}

#views-container {
	button {display: block; width: 100%;}
}

#card-list {
	display: inline-block;
	max-height: 1100px;
	padding-right: 10px;
	overflow: scroll;
	button {
		width: 300px;
		display: block;
		border-left: 10px solid gray;
	}
	.c1 {background: white;}
	.c2 {background: gold;}
	.c3, .c4 {background: linear-gradient(to right, cyan, violet);}
	.c {
		background: gainsboro;
	    text-shadow: 0 0 10px violet;
	}
	.cOrder {border-left-color: blue;}
	.cCelestial {border-left-color: goldenrod;}
	.cChaos {border-left-color: purple;}
	.cConstruct {border-left-color: gray;}
	.cNature {border-left-color: green;}
}

/*Instructions*/
#instructions, #instructions2 {
	color: white;
	h2 {
		font-size: 30px;
		margin: 0; padding: 0;
	}
	p {
		padding: 0; margin: 5px;
		font-size: 24px; padding-left: 20px;
	}
	.material-icons, i {
		font-size: 24px;
		vertical-align: middle;
	}
	.subtext {
		color: inherit;
	}
	.hr {
		margin: 12px 0;
	}
}
#instructions {
	table {
		border-radius: 10px;
		text-align: center;
		thead tr {
			background: dimgray;
		}
		th {font-size: 20px;}
		th, td {padding: 2px 6px;}
	}
	img {
		width: 30px; height: 30px;
		vertical-align: middle;
	}
	.line {
		font-size: 26px;
		line-height: 1.2;
	}
}
#instructions2 {
	.line {
		/*margin: 4px 2px;*/
		padding: 6px 4px;
		margin-left: -8px;
		margin-top: -18px;
		display: inline-block;
		max-width: none;
		/*border: 1px solid gray;*/
		font-size: 24px;
		font-style: italic;
		.sp {
			font-style: normal;
		}

		.sp:not(.debuff) {
			/*background: linear-gradient(90deg, rgb(62, 53, 60) 0%, rgba(0,0,0,0) 150px);*/
			border-radius: 4px;
		}
		.sp.buff {
			margin-bottom: 4px;
		}
		.hr {
			margin: 6px 0;
		}
		.section {
			display: flex;
			justify-content: space-between;
		}
	}
}

/*Commander*/
#comm-skill {
	.img-Img {
		opacity: 0.2;
		width: 110%;
		margin-left: -5%;
		margin-top: -5%;
	}
	.skill-name {
		z-index: 999;
	}
	&.card-border {
		padding: 5px;
	}
	&.Celestial.card-border {
		background: linear-gradient(to bottom, lightyellow, gold);
	}
	&.Order.card-border {
		background: linear-gradient(to bottom, cyan, blue);
	}
	&.Chaos.card-border {
		background: linear-gradient(to bottom, purple, violet);
	}
	&.Construct.card-border {
		background: linear-gradient(to bottom, brown, chocolate);
	}
	&.Nature.card-border {
		background: linear-gradient(to bottom, green, lightgreen);
	}
	.card {
		display: flex;
		flex-direction: column;
		color: white;
		justify-content: space-between;
		.card-faction {
			padding-bottom: 0;
		}
	}
	.skill-description {
		padding: 20px;
		text-align: center;
		font-size: 32px;
		text-shadow: 0 0 10px black;
	}
	.op {
		/*rotate: 180deg;*/
		transform: rotate(180deg);
	}
	.separator {
		text-align: center;
	}
	.hr {
		text-align: center; color: black;
		font-style: italic;
		height: 2px;
	}
}


#card-stats {
	font-size: 20px;
}


/*Chit*/
#status-chit {
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.line {
		font-size: 20px;
		margin: 0;
		padding: 0;
		line-height: 1;
	}
	.debuff, .buff {
		font-size: 60px;
		height: 100px; width: 100px;
		text-align: center;
		line-height: 1.5;
	}
	.debuff {
		border-radius: 50%;
	}
	.icon {
		height: 30px; width: 30px;
	}
	.buff .icon {
		height: 100px; width: 100px;
	}
	.text-Type {
		/*opacity: 0.75;*/
		border: 1px solid gray;
		padding: 1px 4px;
		margin-top: 4px;
	}
}

.jennifer {
	font-family: "Noto Sans TC", sans-serif;
	margin: 0 !important;
	color: white;
	font-weight: bold;
	font-size: 34px;
	width: 100% !important; height: 100% !important;

	.img-Img {
		width: 100%;
	}
	&.cB .img-Img {
		width: auto;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
	}
	.top-row {
		text-align: right;
		padding: 50px;
	}

	&.cA {
		.text-Name {
			font-weight: 600;
			font-size: 30px;
			margin-left: 10px;
		}
		.text-Anime {
			font-size: 60px;
			font-weight: 600;
		}
	}

	&.cB .container {
		.text-Name {
			font-weight: 600;
			font-size: 28px;
			margin-left: 10px;
		}
		.text-Anime {
			font-size: 48px;
			font-weight: 600;
			margin-top: 15px;
			margin-left: 10px;
			display: block;
			margin-bottom: 10px;
		}

		.top-row {
		text-align: right;
		padding: 50px;
		}

		flex-direction: row-reverse;
		.tags {
			display: none;
			text-align: left;
			margin-top: 10px;
			padding-bottom: 0px;
		}
		.description {
			padding: 20px 0 0 20px;
			width: 30%;
			.tags {
				display: block;
			}
			.tag{
				margin-top: 15px;
			}
		}
		.combos {
			background: none;
			text-align: right;
		    flex-direction: row-reverse;
			.col {
			margin: top 20px;
			}
		}
		.sep {
			display: none;
		}
		.skill {
			font-size: 31px;
			font-weight: 500;
			font-style: normal;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 20px;
		}
		.skill-name {
			display: flex;
			align-items: center;
		}
	}

	&.cC {
		.text-Name {
			font-weight: 600;
			font-size: 21px;
			margin-left: 20px;
			position: absolute;
			left:0px;
			top:-200px;
			display: block;
			width: 10px;
			text-shadow: 0 0 5px black;
		}
		.text-Anime {
			font-size: 48px;
			font-weight: 600;
			margin-left: 55px;
			text-shadow: 0 0 20px rgba(0, 0, 0, 0.655);
		}
		.tags {
			margin-bottom: -55px;
			margin-right:15px;
			z-index: 9;
		}
		.top-row {
		text-align: right;
		padding: 50px;
		}
	}	

	.cost {
		z-index: 1;
	}
	.tags {
		text-align: right;
		padding-right: 30px; padding-bottom: 30px;
		.tag {
			font-size: 32px;
			font-weight: 500;
			margin: 5px;
			padding: 20px;
			padding-top: 0px;
			padding-bottom: 4px;
			background: #ca4c4c;
			border-radius: 33px;
			display: inline-block;
		}
	}

	.combos {
		font-size: 33px;
		font-weight: 500;
		padding: 12px;
		padding-right: 50px;
		margin-right: -60px;
		margin-top: 18px;
		background: rgba(0,0,0,0.15);
		border-radius: 16px;
		text-align: right;
		display: flex;
		align-self: center;
		.col {
			display: inline-block;
			margin: 0 10px;
		}
		.cb {
			display: block;
			padding: 4px 8px;
			text-wrap: nowrap;
		}
		.cb .count {
			font-size: 0.7em; /* Makes the count number smaller */
			font-weight: 400;
			margin-left: 3px; /* Space between word and count */    
			margin-right: 3px; /* Space between word and count */

		}
	}

	.container {
		display: flex;
		position: absolute;
		inset: 0;
	}

	.studio {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border: 1px solid white;
		padding: 12px 14px;
		font-weight: 500;
		font-size: 40px;
		background-color: #ca4c4c;
		z-index: 0;
		font-family: monospace;
	}
	
	&.c热血 {
		.studio {color: white;}
	}
	
	.icon {
		display: none;
		z-index: 1;
	}

	&.c热血 {
		.icon.fire {
			display: block;
		}
		.tag {
			background: #ca4c4c;

		}
		.sep {
			color: #dc4949;
			border-color: #dc4949;
		}
		&.cA {
			.description {
				background: linear-gradient(to top, #880f0f 55%, rgba(220, 73, 73, 0.6));
				border-top: 3px solid #b10000;
			}
		.icon {
			width: 76px;
			position: absolute;
			right: 45px;
			top: 45px;
			}
		.cost {
			font-weight: 400;
			font-size: 43px;
			position: absolute;
			right: 56px;
			top: 87px;
		}
		.studio {
			padding: 25px 14px 10px;
			position: absolute;
			top: 134px;
			right: 55px;
			background: linear-gradient(to bottom, #b33030 55%, rgb(186 27 27 / 70%));
		}
		}
		&.cB {
			.description {
				background: linear-gradient(to right, #880f0f 55%, rgba(145, 17, 17, 0.5));
				border-right: 3px solid #b10000;
			}
			.icon {
				width: 64px;
				position: absolute;
				right: 39px;
				top: 35px;
			}
			.cost {
				font-weight: 400;
				font-size: 37px;
				position: absolute;
				right: 49px;
				top: 70px;
			}
			.studio {
                padding: 20px 12px 7px;
                position: absolute;
                font-size: 33px;
                top: 110px;
                right: 46.5px;
                background: linear-gradient(to bottom, #b33030 55%, rgb(186 27 27 / 70%));
            }
		}
		&.cC {
			.description {
				background: linear-gradient(to top, #880f0f 55%, rgba(145, 17, 17, 0.5));
				border-top: 3px solid #b10000;
				padding-left: 0px !important;
			}
			.icon {
				width: 60px;
				position: absolute;
				right: 29px;
				top: 26px;
			}
			.cost {
				font-weight: 400;
				font-size: 36px;
				position: absolute;
				right: 48px;
				top: 58px;
			}
			.studio {
                padding: 10px 11px 6px;
                position: absolute;
                font-size: 31px;
                top: 105px;
                right: 36px;
                background: linear-gradient(to bottom, #b33030 55%, rgb(186 27 27 / 70%));
            }
		}
	}
	
	&.c爱情 {
		.icon.heart {
			display: block;
		}
		.tag {
			background: #fb90b6;

		}
		.combos {
		background: rgba(139,0,39,0.15);
		}
		.sep {
			color: #fe99bc;
			border-color: #fe99bc;
		}
		
		&.cA {
			.description {
				background: linear-gradient(to top, #e46d8f 55%, rgba(227, 79, 121, 0.5));
				border-top: 3px solid #ff83a3;
			}
			.icon {
				width: 91px;
				position: absolute;
				right: 45px;
				top: 45px;
				}
			.cost {
				font-weight: 400;
				font-size: 48px;
				position: absolute;
				right: 65px;
				top: 50px;
			}
			.studio {
                position: absolute;
                top: 100px;
                padding: 31px 18px 11px;
                right: 61px;
                background: linear-gradient(to bottom, #dc3770, rgb(228 40 106 / 70%));
			}
		}
		&.cB {
			.description {
				background: linear-gradient(to right, #e46d8f 55%, rgba(227, 79, 121, 0.5));
				border-right: 3px solid #ff83a3;
			}
			.icon {
				width: 73px;
				position: absolute;
				right: 40px;
				top: 42px;
			}
			.cost {
				font-weight: 400;
				font-size: 39px;
				position: absolute;
				right: 55px;
				top: 48px;
			}			
			.studio {
                padding: 23.5px 13px 7px;
                position: absolute;
                font-size: 33px;
                top: 88px;
                right: 52px;
                background: linear-gradient(to bottom, #de4077, rgb(228 40 106 / 70%));
            }
		}
		&.cC {
			.description {
				background: linear-gradient(to top, #e46d8f 55%, rgba(227, 79, 121, 0.5));
				border-top: 3px solid #ff83a3;
				padding-left: 0px !important;
			}
			.icon {
				width: 70px;
				position: absolute;
				right: 29px;
				top: 26px;
			}
			.cost {
				font-weight: 400;
				font-size: 35px;
				position: absolute;
				right: 54px;
				top: 33px;
			}
			.studio {
                padding: 25px 12px 6px;
                position: absolute;
                font-size: 31px;
                top: 69px;
                right: 41px;
                background: linear-gradient(to bottom, #de4077, rgb(228 40 106 / 70%));
            }
		}
	}

	&.c治愈 {
		.icon.leaf {
			display: block;
		}
		.tag {
			background: #7ac369;

		}
		.sep {
			color: #50bd79;
			border-color: #50bd79;
		}
		.description {
			background: linear-gradient(to top, #4b9b60 55%, rgba(98, 160, 114, 0.5));
			border-top: 3px solid #50bd79;
		}
		
		&.cA {
			.icon {
				width: 91px;
				position: absolute;
				right: 45px;
				top: 37px;
				}
			.cost {
				font-weight: 400;
				font-size: 48px;
				position: absolute;
				right: 65px;
				top: 50px;
			}
			.studio {
                position: absolute;
                top: 104px;
                padding: 30px 18px 11px;
                right: 60px;
                background: linear-gradient(to bottom, #16741d, rgb(21 132 28 / 70%));
			}
		}
		&.cB {
			.description {
				background: linear-gradient(to right, #4b9b60 55%, rgba(98, 160, 114, 0.5));
				border-right: 3px  solid #50bd79;
			}
			.icon {
				width: 73px;
				position: absolute;
				right: 40px;
				top: 35px;
			}
			.cost {
				font-weight: 400;
				font-size: 39px;
				position: absolute;
				right: 53px;
				top: 48px;
			}
			.studio {
                 padding: 22px 12px 7px;
                position: absolute;
                font-size: 33px;
                top: 92px;
                right: 53px;
                background: linear-gradient(to bottom, #16741d, rgb(21 132 28 / 70%));
            }
		}
		&.cC {
			.description {
				padding-left: 0px !important;
			}
			.icon {
				width: 70px;
				position: absolute;
				right: 29px;
				top: 19px;
			}
			.cost {
				font-weight: 400;
				font-size: 35px;
				position: absolute;
				right: 54px;
				top: 33px;
			}
			.studio {
				padding: 25px 10px 5px;
                position: absolute;
                font-size: 31px;
                top: 69px;
                right: 41px;
                background: linear-gradient(to bottom, #16741d, rgb(21 132 28 / 70%));
            }
		}
	}

	&.c推理 {
		.icon.rect {
			display: block;
		}
		.tag {
			background: #4e8be7;

		}
		.sep {
			color: #5b81c7;
			border-color: #5b81c7;
		}
		.description {
			background: linear-gradient(to top, #2e519f 55%, rgba(76, 85, 140, 0.5));
			border-top: 3px solid #3962fa;
		}
		
		&.cA {
			.icon {
				width: 93px;
				position: absolute;
				right: 45px;
				top: 37px;
				}
			.cost {
				font-weight: 400;
				font-size: 49px;
				position: absolute;
				right: 65px;
				top: 50px;
			}
			.studio {
                position: absolute;
                top: 102px;
                padding: 30px 18px 12px;
                right: 60px;
                background: linear-gradient(to bottom, #1152b1, rgb(31 72 134 / 72%));
			}
		}
		&.cB {
			.description {
				background: linear-gradient(to right, #2e519f 55%, rgba(76, 85, 140, 0.5));
				border-right: 3px  solid #3962fa;
			}
			.icon {
				width: 74px;
				position: absolute;
				right: 40px;
				top: 35px;
			}
			.cost {
				font-weight: 400;
				font-size: 39px;
				position: absolute;
				right: 56px;
				top: 48px;
			}
			.studio {
                 padding: 22px 12px 7px;
                position: absolute;
                font-size: 33px;
                top: 89px;
                right: 53px;
                background: linear-gradient(to bottom, #1152b1, rgb(31 72 134 / 72%));
            }
		}
		&.cC {
			.description {
				padding-left: 0px !important;
			}
			.icon {
				width: 69px;
				position: absolute;
				right: 29px;
				top: 21px;
			}
			.cost {
				font-weight: 400;
				font-size: 35px;
				position: absolute;
				right: 54px;
				top: 33px;
			}
			.studio {
				padding: 25px 10px 5px;
                position: absolute;
                font-size: 31px;
                top: 68px;
                right: 41px;
                background: linear-gradient(to bottom, #1152b1, rgb(31 72 134 / 72%));
            }
		}
	}

	&.c魔幻 {
		.icon.star {
			display: block;
		}
		.tag {
			background: #9963c9;

		}
		.sep {
			color: #b081d9;
			border-color: #b081d9;
		}
		.description {
			background: linear-gradient(to top, #6b2e9f 55%, rgba(111, 60, 163, 0.5));
			border-top: 3px solid #9e2cff;
		}
		&.cA {
			.icon {
				width: 102px;
				position: absolute;
				right: 42px;
				top: 34px;
				}
			.cost {
				font-weight: 400;
				font-size: 43px;
				position: absolute;
				right: 70px;
				top: 58px;
			}
			.studio {
				position: absolute;
				top: 113px;
				right: 66px;
				background: linear-gradient(to bottom, #6d27a6, rgb(90 18 155 / 67%));
			}
		}
		&.cB {
			.description {
				background: linear-gradient(to right, #6b2e9f 55%, rgba(111, 60, 163, 0.5));
				border-right: 3px  solid #9e2cff;
			}
			.icon {
				width: 84px;
				position: absolute;
				right: 35px;
				top: 31px;
			}
			.cost {
				font-weight: 400;
				font-size: 36px;
				position: absolute;
				right: 59px;
				top: 51px;
			}
			.studio {
                padding: 20px 11px 8px;
                position: absolute;
                font-size: 33px;
                top: 86px;
                right: 55px;
                background: linear-gradient(to bottom, #6d27a6, rgb(90 18 155 / 67%));
            }
		}
		&.cC {
			.description {
				padding-left: 0px !important;
			}
			.icon {
				width: 75px;
				position: absolute;
				right: 25px;
				top: 18px;
			}
			.cost {
				font-weight: 400;
				font-size: 35px;
				position: absolute;
				right: 54px;
				top: 33px;
			}
			.studio {
    			padding: 10px 10px 7px;
                position: absolute;
                font-size: 32px;
                top: 76px;
                right: 41px;
                background: linear-gradient(to bottom, #6d27a6, rgb(90 18 155 / 67%));
            }
		}
	}

	&.广告 {
		.icon.circle {
			display: block;
		}
		.text-Anime {
            text-shadow: 0 0 20px rgba(167, 164, 123, 0.66);
        }
		.tag {
			background: #f38d4a;

		}
		.sep {
			color: #eaeaea;
			border-color: #ffffff;
		}
		.description {
			background: linear-gradient(to top, #ec9019 55%, rgb(217 148 69 / 50%));
			border-top: 3px solid #faa836;
		}
		&.cA {
			.icon {
				width: 100px;
				position: absolute;
				right: 42px;
				top: 34px;
				}
			.cost {
				font-weight: 400;
				font-size: 43px;
				position: absolute;
				right: 80px;
				top: 58px;
			}
			.studio {
				position: absolute;
				top: 123px;
				right: 56px;
				background: linear-gradient(to bottom, #e57c18, rgb(202 153 61 / 70%));
			}
		}
		&.cB {
			.description {
				background: linear-gradient(to right,#ec9019 55%, rgb(217 148 69 / 50%));
				border-right: 3px  solid #faa836;
			}
			.icon {
				width: 84px;
				position: absolute;
				right: 35px;
				top: 31px;
			}
			.cost {
				font-weight: 400;
				font-size: 36px;
				position: absolute;
				right: 69px;
				top: 51px;
			}
			.studio {
				padding: 20px 11px 8px;
				position: absolute;
				font-size: 33px;
				top: 96px;
                right: 48px;
				background: linear-gradient(to bottom, #e57c18, rgb(202 153 61 / 70%));
			}
		}
		&.cC {
			.description {
				padding-left: 0px !important;
			}
			.icon {
				width: 75px;
				position: absolute;
				right: 25px;
				top: 18px;
			}
			.cost {
				font-weight: 400;
				font-size: 35px;
				position: absolute;
				right: 54px;
				top: 33px;
			}
			.studio {
                padding: 20px 10px 7px;
                position: absolute;
                font-size: 32px;
                top: 76px;
                right: 35px;
				background: linear-gradient(to bottom, #e57c18, rgb(202 153 61 / 70%));
			}
		}
	}




	&.cA .container, &.cC .container {
		flex-direction: column;
		.description {
			padding: 0px 30px;
			padding-top: 10px;
			height: 25%;
			padding-bottom: 30px;
			

			display: flex;
			justify-content: space-between;
			gap: 30px;
			.tags {
				display: none;
			}
			.skill {
				font-size: 32px;
				font-weight: 500;
				font-style: normal;
				margin-top: 20px;
				margin-left: 20px;
			}
			.skill-name {
				display: flex;
				align-items: center;
				.sep {
					flex-grow: 1;
					border-top: 1px solid;
					margin: 0 20px;
					line-height: 0;
					text-align: right;
			        padding-right: 50px;
			       	max-width: 200px;
			       	font-size: 24px;
					position: relative;
					span {
						position: absolute;
						top: -2px;
					}
				}
				margin-bottom: 5px;
			}
		}
	}
	&.cC .container {
		.description {
			flex-direction: column;
			position: relative;
			gap: 0; 
			height: 15%;
			.basics {
				position: absolute;
				top: -40px;
			}
			.combos {
				margin: 0;
				margin-top: 30px;
				padding: 0;
				background: none;
				align-self: start;
				margin-left: 15px;
				.col {
					margin: 0;
					display: flex;
					&:first-child {
						display: none;
					}
				}
				.cb {
					display: inline;
				}
			}
		}
	}
	
}

#j-skill {
	padding: 20px;
	text-align: center;
	.text-Type {
		margin-bottom: 20px;
	}
}
#j-board {
	border: 3px solid gray;
}

#j-skill .skill-border {
    height: calc(100% - 40px);
    border: 1px solid white;
    font-size: 40px;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#j-skill .skill-header {
	padding-bottom: 30px;
	font-size: 45px;
    gap: 5px; 
}

#j-skill .separator {
    margin: 0 5px; /* 调整连接符左右的间距 */
    font-weight: bold; /* 加粗连接符 */
}

#a4 {
	background-color: white;
}

#j-trending .trending {
	text-align: center;
	padding-bottom: 70px;
	font-size: 40px;
}

#j-trending .trending-img {
	padding-left: 75px;
	padding-top: 30px;
	padding-bottom: 10px;
	img {
		height: 100px;
	}
}